
  
  .hero {
    background-image: url('./../../../public/image/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .hero-content {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 50px;
    text-align: center;
  }

    .hero-content h1{
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 20px;
    }

  .hero-content p{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }


  